<div class="table-responsive-lg">
    <h2 style="color: #fe4c50;">Cursos adquiridos por Usuario</h2>
    <br>
    
    <table class="table table-hover">
        <caption>Lista de usuarios</caption>
        <thead>
            <tr>
                <th scope="col" width="195px">Usuario</th>
                <th scol="col" width="240px">Correo</th>
                <th scope="col" width="150px">Curso</th>
                <th scope="col" width="100px">Precio ($)</th>
                <th scope="col">Descripción</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of usuarios">		
            <tr *ngFor="let curso of user.usuarioCurso.cursos">
                <td> {{ user.usuario.name }} </td>
                <td> {{ user.usuario.email }} </td>
                <td> {{ curso.name }} </td>
	            <td> {{ curso.price }}</td>
        	    <td> {{ curso.description }} </td>
            </tr>
        </tbody>
    </table>
</div>